azure==1.0.3
azure-common==1.1.4
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-storage==0.30.0rc6
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
certifi==2016.8.31
cffi==1.8.3
chardet==2.3.0
cryptography==1.5
enum34==1.1.6
futures==3.0.5
idna==2.1
ipaddress==1.0.17
isodate==0.5.4
keyring==9.3.1
msrest==0.4.4
msrestazure==0.4.3
oauthlib==2.0.0
pyasn1==0.1.9
pycparser==2.14
python-dateutil==2.5.3
requests==2.11.1
requests-oauthlib==0.6.2
SecretStorage==2.3.1
six==1.10.0
